In [26]:
import pandas as pd
from collections import Counter
import random
import operator

In [12]:
#reading data
data=pd.read_csv('../data/books_data.csv')

/usr/local/Cellar/jupyterlab/2.2.8/libexec/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
#droping unnecessary column
data.drop(['Unnamed: 0'],axis=1, inplace=True)

In [14]:
data.head()

,User-ID,age,location,accessed,book_id,Book-Title,Book-Author,Year-Of-Publication,Publisher,ISBN,Image-URL-S,Image-URL-M,Image-URL-L
0,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...
1,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...
2,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...
3,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...
4,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...

# Analysis

In [15]:
#investigating user column
data['age'].value_counts()

34     229313
29     219275
30     218151
27     209344
33     203624
        ...
168       192
83        109
90         96
116        61
82         25
Name: age, Length: 87, dtype: int64

In [16]:
data.age.unique()
#there are some cells in age column with unrealistic values such as 148

array([ 42,  29,  33,  47,  28,  34,  72,  23,  30,  53,  25,  49,  41,
        59,  65,  26,  37,  31,  40,  15,  27,  48,  32,  58,  50,  21,
         8,  38,  69,  35,  80,  43,  57,  36,  39,  52,  17,  60,  18,
        54,  24,  63,  51,  45,  22,  16, 136,  67,  44,  56,  55,  13,
        46,  20,  14,  81,  62,  64, 103,  19,  68,  61,  71,   9,  77,
        70,  66,  75,  73, 201,   2,  79,  12,  76, 239,   4,  83,  11,
         1,  82, 168, 101, 100, 148, 204, 116,  90])

In [17]:
# as there are many lines with unrealistic age values, they would be replaced with a mean value
data['age'].astype(float).mean()
#mean age is 36

35.9060405811214

In [18]:
# function to replace unrealistic age
def unreal_age (row):
    if row['age'] > 100 :
        return 36
    elif row['age'] < 10:
        return 36
    else:
        return row['age']
    
age_list=data.apply (lambda row: unreal_age(row), axis=1)
data['Client age'] = age_list

In [20]:
data.head()

,User-ID,age,location,accessed,book_id,Book-Title,Book-Author,Year-Of-Publication,Publisher,ISBN,Image-URL-S,Image-URL-M,Image-URL-L,Client age
0,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,42
1,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,42
2,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,42
3,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,42
4,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,42

In [21]:
data['Client age'].unique()

array([ 42,  29,  33,  47,  28,  34,  72,  23,  30,  53,  25,  49,  41,
        59,  65,  26,  37,  31,  40,  15,  27,  48,  32,  58,  50,  21,
        36,  38,  69,  35,  80,  43,  57,  39,  52,  17,  60,  18,  54,
        24,  63,  51,  45,  22,  16,  67,  44,  56,  55,  13,  46,  20,
        14,  81,  62,  64,  19,  68,  61,  71,  77,  70,  66,  75,  73,
        79,  12,  76,  83,  11,  82, 100,  90])

In [22]:
# function to create age groups
def age_groups (row):
    if row['Client age'] <= 16 :
        return 'teenagers'
    elif row['Client age'] >16 and row['Client age']<30 :
        return 'youth and students'
    elif row['Client age'] >=30 and row['Client age'] <55 :
        return 'adults'
    else:
        return 'pensioner'
    
age_group_list=data.apply (lambda row: age_groups(row), axis=1)
data['age group'] = age_group_list

In [23]:
data['age group'].value_counts()
#main customer group is adults

adults                2835001
youth and students    1706279
pensioner              427713
teenagers               75323
Name: age group, dtype: int64

In [24]:
#creatind dataframes by age group
teenagers=data[data['age group']=='teenagers']
adults=data[data['age group']=='adults']
youth=data[data['age group']=='youth and students']
pensioner=data[data['age group']=='pensioner']

#creating list of books of each dataframes by age group
teenagers_list = teenagers['Book-Title'].tolist()
adults_list = adults['Book-Title'].tolist()
youth_list = youth['Book-Title'].tolist()
pensioner_list = pensioner['Book-Title'].tolist()

In [27]:
# creating top 10 list of teen books
teen_list1=Counter(teenagers_list).keys() # equals to list(set(words))
teen_list2=Counter(teenagers_list).values()
top_teen = dict(zip(teen_list1, teen_list2))

sorted_top_teen = dict(sorted(top_teen.items(),
                            key=operator.itemgetter(1),
                            reverse=True))

teen_recomends=[]

for x in list(sorted_top_teen)[0:10]:
    teen_recomends.append(x)

In [29]:
# creating top 10 list of adults books
adults_list1=Counter(adults_list).keys() # equals to list(set(words))
adults_list2=Counter(adults_list).values()
top_adults = dict(zip(adults_list1, adults_list2))

sorted_top_adults = dict(sorted(top_adults.items(),
                            key=operator.itemgetter(1),
                            reverse=True))

adults_recomends=[]

for x in list(sorted_top_adults)[0:10]:
    adults_recomends.append(x)

In [30]:
# creating top 10 list of youth books
youth_list1=Counter(youth_list).keys() # equals to list(set(words))
youth_list2=Counter(youth_list).values()
top_youth = dict(zip(youth_list1, youth_list2))

sorted_top_youth = dict(sorted(top_youth.items(),
                            key=operator.itemgetter(1),
                            reverse=True))

youth_recomends=[]

for x in list(sorted_top_youth)[0:10]:
    youth_recomends.append(x)

In [63]:
# creating top 10 list of pensioner books
pensioner_list1=Counter(pensioner_list).keys() # equals to list(set(words))
pensioner_list2=Counter(pensioner_list).values()
top_pensioner = dict(zip(pensioner_list1, pensioner_list2))

sorted_top_pensioner = dict(sorted(top_pensioner.items(),
                            key=operator.itemgetter(1),
                            reverse=True))

pensioner_recomends=[]

for x in list(sorted_top_pensioner)[0:10]:
    pensioner_recomends.append(x)

In [34]:
#creating a small sample for testing
sample=data[data['User-ID']==152]

In [37]:
#function that makes recomendation
#checking  function on a small sample
def book_recomends (row):
    for book in sample['Book-Title']:
        if book in teenagers_list:
            return random.choice(teen_recomends)
        elif book in adults_list:
            return random.choice(adults_recomends)
        elif book in youth_list:
            return random.choice(youth_recomends)
        else:
            return random.choice(pensioner_recomends)

recomends_list=sample.apply (lambda row: book_recomends(row), axis=1)
sample['recomends'] = recomends_list

<ipython-input-37-4d518cca8fe4>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['recomends'] = recomends_list

In [38]:
sample.head()

,User-ID,age,location,accessed,book_id,Book-Title,Book-Author,Year-Of-Publication,Publisher,ISBN,Image-URL-S,Image-URL-M,Image-URL-L,Client age,age group,recomends
0,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,42,adults,One Heart
1,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,42,adults,Black and Blue
2,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,42,adults,Wolf Moon
3,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,42,adults,One Heart
4,152,42,"little rock, arkansas, usa",1,152,Martian Chronicles,Ray Bradbury,1997,William Morrow,0380973839,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,http://images.amazon.com/images/P/0380973839.0...,42,adults,The Fourth Wall

In [15]:
#note for the further kneans implementing
#libraries must be imported first
"""""scaler=StandardScaler()
result_scaled=scaler.fit_transform(data["Client age"])
kmeans = KMeans(n_clusters=8, random_state=1234)
kmeans.fit(result_scaled)
clusters=kmeans.predict(result_scaled)
data["cluster"]= clusters
data.head()"""

'""scaler=StandardScaler()\nresult_scaled=scaler.fit_transform(data["Client age"])\nkmeans = KMeans(n_clusters=8, random_state=1234)\nkmeans.fit(result_scaled)\nclusters=kmeans.predict(result_scaled)\ndata["cluster"]= clusters\ndata.head()'